/*Header Section*/
h1{
  font-size: 6em;
  font-family: arial;
  text-align: center;
}
.header{
  background-color: lightyellow;
}
nav{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: lightyellow;
}
li{
  text-align: center;
  padding: 1em;
}
a{
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}
li:hover{
  background-color: gold;
}
.search{
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 2em;
}
.searchinput{
  font-size: 2em;
  margin-top: 1em;
}

/*Article*/
.articles{
  font-size: 2.5em;
  margin: 2em;
  font-family: arial;
}
.article{
  border:thin red solid;
  margin-bottom: 2em;
  padding: 1em;
}
.article-title{
  font-weight: bold;
}
.article-description{
  margin-top: 2em;
  font-size: 0.4em;
}
.article-url{
  margin-top: 3em;
  font-style: italic;
  color: red;
  font-size: 0.4em;
}